@{
    Layout = "~/Views/Shared/_PESBLayout.cshtml";
}

<div class="d-flex justify-content-end mb-3">
    <a asp-controller="PESB" asp-action="PESB_Add_New_Reference" class="btn btn-success">
        <i class="fas fa-plus me-1"></i> Add New Reference
    </a>
</div>

