/* Custom Navbar Styling Start*/
.navbar-custom {
    background: linear-gradient(90deg, #0d6efd, #20c997);
    padding: 0.75rem 1.5rem;
    font-family: 'Poppins', sans-serif;
}

    .navbar-custom .navbar-brand {
        color: #ffffff;
        font-weight: 600;
        font-size: 1.9rem;
        letter-spacing: 0.5px;
        pointer-events: none;
    }


.form-label {
    font-size: 1.1rem;
}
/* Custom Navbar Styling End*/
